@import "tailwindcss";

/* @theme {
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Rajdhani:wght@300;500;700&display=swap" rel="stylesheet">
} */
 /* @theme {
  
      gold: "text-yellow-400",
        goldBg: "bg-yellow-500",
        goldBorder: "border-yellow-500/30",
    
 } */